---
import { type LaunchesResponse } from '../types/LaunchesResponse'
import CardLaunch from './CardLaunch.astro'

const res = await fetch('https://api.spacexdata.com/v5/launches/query', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify({
    query: {},
    options: {
      sort: {
        date_unix: 'asc',
      },
      limit: 12,
    },
  }),
})
const { docs: launches }: LaunchesResponse = await res.json()
---

<div class='grid gap-8 sm:grid-cols-2 lg:grid-cols-3'>
  {
    launches.map(
      ({ id, links: img, success, flight_number: flightNumber, details }) => (
        <CardLaunch
          id={id}
          img={img.patch.small}
          success={success}
          flightNumber={flightNumber}
          details={details}
        />
      )
    )
  }
</div>
